body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.flex {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#left-area {
    width: 60%;
    background-size: cover;
}

#left-area img {
    height: 100%;
    width: auto;
}

#right-container {
    width: 40%;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #3a3a3a;
    text-align: center;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
}

.campaigns-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#right-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#right-area .form {
    width: 65%;
    max-width: 65%;
    margin-top: -120px;
}

.row {
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    box-sizing: border-box;
}


label {
    display: block;
    float: right;
    font-weight: bold;
    margin-bottom: 5px;
}

#right-area .form .row input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 240%;
    box-sizing: border-box;
    text-align: right;
    font-size: 18px;
}

button.btn {
    display: block;
    width: 100%;
    padding: 20px;
    background: #00c476;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

button.btn:hover {
    background: #198680;
}

.alertMsg{
    font-size: 24px;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg{
    font-size: 24px;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgb(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}


.inside-content {
    /* width: 90%;
    max-width: 1400px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px 20px 0px;
    position: relative;
}

.date-picker {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background: #f0f7fa;
}

.table-container {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background: white;
    font-weight: bold;
    font-size: 18px;
}

th, td {
    padding: 12px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    border: 1px solid rgb(232, 232, 232); 
}

th.id, td.id {
    width: 50px;
    text-align: center;
}

td.id label {
    float: none !important;
}

td.image img {
    width: 70px;
    height: auto;
}

th.actions, td.actions {
    width: 150px;
    text-align: center;
}



td a {
    transition: color 0.3s ease;
}

td a:hover {
    color: #00c476;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}

.actions a {
    color: #000000;
    font-size: 18px;
    transition: color 0.3s ease;
    margin-right: 12px;
}

.actions a:hover {
    color: #00c476;
}

.empty {
    text-align: right;
    padding-top: 20px;
    font-size: 18px;
    color: #373737;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.date-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.campaigns-dates {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.campaigns-title {
    color: #353535;
    text-align: right; 
    min-width: 150px;
    padding-left: 20px;
    margin-left: auto; 
}

.campaigns-title h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}

.popup-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: -50px;
    width: 100%;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.popup[style*="100%"] {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-width: none;
    height: 100vh;
}
  
.head-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f2f5;
    padding: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.head-popup a {
    transition: color 0.3s ease;
}

.head-popup a:hover {
    color: #00c476;
}

.popup[style*="100%"] .head-popup {
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.head-title {
    font-size: 20px;
    font-weight: bold;
    color: #222222;
}
  
.popup-inner {
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    flex: 1;
    max-height: calc(100vh - 60px); 
}

.popup-inner .row {
    display: flex;
    flex-direction: column;
}
  
.popup-inner .al {
    font-size: 16px;
    color: #333;
    text-align: left;
}

.popup-inner label {
    display: flex !important;
    justify-content: end;
    color: #222222;
}

.popup-inner input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 240%;
    box-sizing: border-box;
    text-align: right;
    font-size: 18px;
}

.popup-inner textarea {
    background-color: #f3f7fd;
    width: 100%;
    padding: 10px 10px 89px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: right;
    font-size: 14px;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    font-size: 16px;
    width: 100%;
    padding: 15px 15px 15px 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    cursor: pointer;
    direction: ltr; 
    border-radius: 10px;
}

.custom-select::before {
    content: "▼";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
    font-size: 14px;
}
  
.botBtns {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}
  
.btnS {
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: #00c476;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btnS:hover {
    background-color: #007bff;
    color: white;
}
  
.al {
    font-size: 16px;
}

.campaign-wrapper {
    width: 90%;
    max-width: 1400px;
}

.compaign-color-container {
    background-color: #f0f7fa;
    height: 100vh;
}

.header {
    background-color: #2f2f2f;
    width: 100%;
    padding: 20px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-70 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-avatar {
    width: 42px;
    height: 42px;
    background: #181818;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}

.user-menu i {
    color: white;
    cursor: pointer;
}

#dropdown-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 100px;
    white-space: nowrap;
    z-index: 1000;

}

#dropdown-menu.active {
    display: block;
}

#dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: color 0.3s ease;
}

#dropdown-menu a:hover {
    color: #00c476;
}

#menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

#menu i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

#menu ul li {
    display: inline-block;
    position: relative;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 15px;
    transition: 0.3s;
    position: relative;
    font-size: 20px;
}

#menu ul li a.active {
    color:#00c476;
}

#menu ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 6px;
    background-color: #00c476;
    border-radius: 2px;
}

#menu ul li a.active i {
    color: #00c476;
}

.header-30 {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.logo {
    height: 65px;
    max-height: 65px;
    width: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    left: 1px;
    bottom: 0px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #00c476;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }


.campaign-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.campaign-detail-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.campaign-detail-row {
    display: flex;
    flex-direction: row;
}

.campaign-detail-row:last-child {
    height: 100%;
}

.detail-date-picker input {
    padding: 8px;
    margin: 0 5px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 100%;
}

.stat-box {
    flex: 1;
    padding: 10px 20px;
    color: white;
    text-align: center;
    font-weight: 400;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.stat-box p {
    display: block;
    font-size: 16px;
}

.campaign-stat-number {
    display: block;
    font-size: 38px;
}

.stat-box:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.stat-box:first-child p {
    color: #525252;
}

.stat-box:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ctr { background-color: white; color: black;}
.leads { background-color: #319301; }
.views { background-color: #4700ae; }
.clicks { background-color: #004e93; }

.campaign-detail-content {
    display: flex;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
}

.site-filters {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    text-align: right !important;
}

.site-filters .site-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: end;
}

.site-filters .site-item label {
    margin-left: 10px;
}

.chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

#chartHints {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

canvas {
    flex: 1;
    width: 100% !important; 
    height: 100% !important;
}

.campaign-detail-70 {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 70%;
}

.campaign-detail-30 {
    display: flex;
    flex-direction: row;
    width: 30%;
    max-width: 30%;
}

.single-campaign-header {
    background-color: #d5f3ec;
    display: flex;
    flex-direction: column;
}

.single-campaign-wrapper {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user-ar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 1400px;
}

.user-header-wrapper {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-sizing: border-box;
}

.user-header-wrapper p {
    font-size: 18px;
}

.w20 {
    flex-shrink: 0;
    max-width: 100%;
}

.center-email {
    flex-grow: 1;
    text-align: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    max-width: 1400px;
}

.tabs ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 15px;
}

.tabs li {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #e6e6e6;
    border: 1px solid #d3d3d3;
    border-bottom: 4px solid #d3d3d3;
}

.tabs li:hover {
    background-color: #f2f2f2;
}

.tabs li.active {
    color: #000;
    border-bottom: 4px solid #00c476;
}

.tabs li:not(.active) {
    border-color: #d3d3d3;
    border-bottom: 4px solid #d3d3d3;
}


.image-preview-area {
    background: #ebebeb;
    padding: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.select_img span img {
    max-width: 200px;
    max-height: 200px;
}


.user-tab-title {
    color: #353535;
    text-align: right; 
    min-width: 150px;
    padding-left: 20px;
    margin-left: auto; 
}

.user-tab-title h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}
