body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.flex {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#left-area {
    width: 60%;
    background-size: cover;
}

#left-area img {
    height: 100%;
    width: auto;
}

#right-container {
    width: 40%;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #3a3a3a;
    text-align: center;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
}

.campaigns-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#right-area {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    width: 65%;
    max-width: 65%;
    margin-top: -120px;
}

.row {
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    box-sizing: border-box;
}

label {
    display: block;
    float: right;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 240%;
    box-sizing: border-box;
    text-align: right;
    font-size: 18px;
}

button.btn {
    display: block;
    width: 100%;
    padding: 20px;
    background: #00c476;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

button.btn:hover {
    background: #198680;
}

.alertMsg{
    font-size: 24px;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg{
    font-size: 24px;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgb(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}


.inside-content {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px 20px 0px;
    position: relative;
}

.date-picker {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background: #f0f7fa;
}

.table-container {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background: white;
    font-weight: bold;
    font-size: 18px;
}

th, td {
    padding: 12px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

th.id, td.id {
    width: 50px;
    text-align: center;
}

th.actions, td.actions {
    width: 150px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}

.actions a {
    color: #000000;
    font-size: 18px;
    transition: color 0.3s ease;
}

.actions a:hover {
    color: #44fc44;
}

.empty {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.date-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.campaigns-dates {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.campaigns-title {
    color: #353535;
    text-align: right; 
    min-width: 150px;
    padding-left: 20px;
    margin-left: auto; 
}

.campaigns-title h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}

.popup-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: -50px;
    width: 100%;
    z-index: 1001;
}
  
.head-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f2f5;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  
.head-title {
    font-size: 16px;
    font-weight: bold;
}
  
.popup-inner {
    padding: 20px;
    text-align: center;
}
  
.popup-inner .al {
    font-size: 16px;
    color: #333;
    text-align: left;
}
  
.botBtns {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}
  
.btnS {
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background: #00c853;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btnS:hover {
    background-color: #007bff;
    color: white;
}
  
.al {
    font-size: 16px;
}

.compaign-color-container {
    background-color: #f0f7fa;
    height: 100vh;
}